#.csv
*.csv

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
my_venv/
venv/
env/
.venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# CSV outputs
*.csv

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
